@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style for the slider thumb */
input[type="range"].slider {
    -webkit-appearance: none; /* Remove default appearance */
    appearance: none;
  }
  
  input[type="range"].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px; /* Adjust the size of the thumb */
    height: 24px;
    border-radius: 50%; /* Make it round */
    background-color: white; /* Change the color of the thumb */
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  
  input[type="range"].slider::-moz-range-thumb {
    width: 24px; /* Adjust the size of the thumb for Firefox */
    height: 24px;
    border-radius: 50%;
    background-color: white; /* Change the color */
    cursor: pointer;
  }
  
  input[type="range"].slider:focus {
    outline: none; /* Remove focus outline */
  }
  
